* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1024px;
  min-width: 600px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
  background-color: #e6e2d4;
}

main {
  width: 1024px;
  margin: 0 auto;
  border: 1px solid black;
}
main .left-section {
  padding: 1rem;
  width: 30%;
  color: white;
  background-color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
main .left-section article .contacts {
  margin-bottom: 30px;
}
main .left-section article .contacts li {
  list-style-type: none;
  padding: 5px 0;
}
main .left-section article .skills {
  margin-bottom: 30px;
}
main .left-section article .skills li {
  list-style-type: circle;
  padding: 5px 0;
  margin-left: 15px;
}
main .left-section article .skills li a {
  color: white;
  text-decoration: none;
}
main .left-section article h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 24px 0;
}
main .left-section article .line {
  width: 100%;
  height: 0.05rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: white;
}